{% extends '../mainapp/base.html' %}

{% block title %}My Profile{% endblock title %}

{% block content %}
    <div class="container mb-sm-5">
        <div class="row">
        <div class="col-md-3 col-sm-12 mr-2 bg-light">
            {% include "profile/sidebar.html" %}
        </div>
        <div class="col-md-8 col-12 bg-white p-2 m-2 shadow ">
            <table class="table table-hover ">
                <thead>
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col">{{user_profile.first_name}} {{user_profile.last_name}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">Email</th>
                    <td>{{user_profile.email}}</td>
                    </tr>
                    
                    <tr>
                    <th scope="row">Phone Number</th>
                    <td>{{user_profile.phone_number}}</td>
                    </tr>
                    <tr>
                    <th scope="row">Address</th>
                    <td colspan="2">{{user_profile.address}}</td>
                    </tr>
                    <tr>
                    <th scope="row">Gender  </th>
                    <td colspan="2">{{user_profile.gender}}</td>
                    </tr>

                    <tr>
                    <th scope="row"></th>
                    <td colspan="2"><a href="{% url 'myprofile:update_profile' %}"><button class="border-0 p-2 bg-primary text-white">Update</button></a></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        </div>
    </div>


{% endblock content %}