<p class="mt-2">Hello, <span class="text-muted">John</span></p>
<ul>
    <li><h4> Manage My Account </h4></li>
</ul>
<ul>
    <li><a href="{% url 'myprofile:profile' %}"> My Profile</a></li>
</ul>
<ul>
    <li><a href="{% url 'myprofile:shippingaddress' %}"> Shipping Address</a></li>
</ul>
<ul>
    <li><h6><a href="{% url 'myprofile:my_orders' %}"> My Order </a></h6></li>
</ul>
<ul>
    <li><h6><a href="{% url 'myprofile:my_review' %}"> My Review </a></h6></li>
</ul>
<ul>
    <li><h6><a href="{% url 'myprofile:review_seller' %}"> Review Merchant </a> </h6></li>
</ul>

