{% extends 'mainapp/base.html' %}
{% load static %}

{% block inlinecss %}
<style>
    .forhover {
        transition: all 0.5s ease;
    }

    .forhover:hover {
        box-shadow: 3px 5px 3px #F0F8FF;
        color: black;
        background: #c6c6ff;

    }

    .rateus-label {
        font-size: 1.2rem;
        font-weight: 600;
        font-family: Aeria;
    }

    .rateus i {
        font-size: 1.7rem;
    }
    .reply{
        display: none;
    }
    .reply-show{
        display: block;
    }
    .comment-details{
        display: inline;
        border: 1px solid red;
    }

</style>
{% endblock inlinecss %}


{% block content %}


{% comment %} Product Details {% endcomment %}
<div class="container-fluid">
    <h3 class='alert alert-info text-center mt-5 border border-info'>Product Details</h3>

    {% comment %} image Section {% endcomment %}
    <div class="row mt-4">
        <div class="col-md-4 col-sm-12 text-sm-center">
            <img src="{% static 'images/products/image1.jpg' %}" class='img-thumbnail' alt="" width='400px;' height='450px;'
                class="border-none bg-info shadow mt-4">
            <div class="m-3">
                <img class='border shadow-sm bg-info img-fluid' src="{% static 'images/products/image1.jpg' %}" alt=""
                    width='100px;' height='100px;'>
                <img class='border shadow-sm bg-info img-fluid' src="{% static 'images/products/image1.jpg' %}" alt=""
                    width='100px;' height='100px;'>
                <img class='border shadow-sm bg-info img-fluid' src="{% static 'images/products/image1.jpg' %}" alt=""
                    width='100px;' height='100px;'>
                <img class='border shadow-sm bg-info img-fluid' src="{% static 'images/products/image1.jpg' %}" alt=""
                    width='100px;' height='100px;'>
            </div>
        </div>
        {% comment %} end image Section {% endcomment %}

        {% comment %} description section {% endcomment %}
        <div class="col-sm-12 col-md-8 text-md-left text-sm-center">
            <h2 class="m-3">Title1</h2>

            <div style='color:#ffd700'>
                <i class="fas fa-star fa-xs"></i>
                <i class="fas fa-star fa-xs"></i>
                <i class="fas fa-star fa-xs"></i>
                <i class="fas fa-star-half-alt fa-xs"></i>
                <i class="far fa-star fa-xs"></i>
            </div>

            <div>
                <p class='m-sm-1'><strong>$ 100</strong></p>
            </div>

            <div class="table-responsive">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, nam quisquam
                    dolor reiciendis autem quasi blanditiis reprehenderit earum in.Consequatur doloribus
                    dolorem temporibus sint nemo reprehenderit quibusdam error? Libero, omnis.</p>
                <table class="table table-sm table-borderless mb-0">
                    <tbody>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Model</strong></th>
                            <td>Shirt 5407X</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Color</strong></th>
                            <td>Black</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Delivery</strong></th>
                            <td>USA, Europe</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>

            <div class="m-sm-3">
                <p><strong>Select Size :</strong></p>
                <div class="form-check form-check-inline pl-sm-0 text-sm-center">
                    <input type="radio" class="form-check-input" id="small" name="materialExampleRadios" checked>
                    <label class="form-check-label small text-uppercase card-link-secondary" for="small">Small</label>
                </div>
                <div class="form-check form-check-inline pl-sm-0">
                    <input type="radio" class="form-check-input" id="medium" name="materialExampleRadios">
                    <label class="form-check-label small text-uppercase card-link-secondary" for="medium">Medium</label>
                </div>
                <div class="form-check form-check-inline pl-sm-0">
                    <input type="radio" class="form-check-input" id="large" name="materialExampleRadios">
                    <label class="form-check-label small text-uppercase card-link-secondary" for="large">Large</label>
                </div>
            </div>

            <div class="def-number-input number-input safari_only m-sm-3">
                <p><strong>Quantity :</strong> </p>
                <button style='max-width:2rem; text-align:center; border:none; outline:none;'
                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus bg-white"><i
                        class='fas fa-minus fa-xs'></i></button>
                <input class=" m-sm-2 quantity text-sm-center" min="0" name="quantity" value="1" type="number"
                    style='max-width:50px;'>
                <button style='max-width:2rem; text-align:center; border:none; outline:none;'
                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus bg-white"><i
                        class='fas fa-plus fa-xs'></i></button>
            </div>
            {% comment %} button {% endcomment %}
            <div class="mt-sm-4 text-xm-center ">
                <a class="alert alert-primary forhover mt-sm-5 d-sm-inline-block d-xs-block" href="#">Buy Now</a>
                <a class="alert alert-secondary forhover d-sm-inline-block mt-sm-5 d-xs-block" href="#"><i class='fas fa-shopping-cart pr-2'></i> Add to
                    Card</a>
            </div>
        </div>
        {% comment %} end description section {% endcomment %}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 shadow">
                <h5 style='text-align:center; padding-top:1.2rem; font-weight:600; font-family:Aeria;'>Product
                    Description</h5>
                <p class="small text-muted text-uppercase mb-2">Shirts</p>
                <div style='color:#ffd700'>
                    <i class="fas fa-star fa-xs"></i>
                    <i class="fas fa-star fa-xs"></i>
                    <i class="fas fa-star fa-xs"></i>
                    <i class="fas fa-star-half-alt fa-xs"></i>
                    <i class="far fa-star fa-xs"></i>
                </div>
                <h6>12.99 $</h6>
                <p class="pt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sapiente illo. Sit
                    error voluptas repellat rerum quidem, soluta enim perferendis voluptates laboriosam. Distinctio,
                    officia quis dolore quos sapiente tempore alias.</p>
            </div>
        </div>
    </div>

    <div class="container border border-1 mt-3 mt-sm-5">
        <div class="col-sm-12">
            <br>
            <div style='display: flex; justify-content:center; item-align:center;'>
                <a href='#'>Review</a>
            </div>
            <label for="" class='rateus-label'>Rate Us:</label>
            <div class="rateus" style='color:#ffd700'>
                <i class="fas fa-star fa-xs"></i>
                <i class="fas fa-star fa-xs"></i>
                <i class="fas fa-star fa-xs"></i>
                <i class="fas fa-star-half-alt fa-xs"></i>
                <i class="far fa-star fa-xs"></i>
            </div>

            <div id='review-content'>
                <form action="" class="m-4">
                    <input class='ml-sm-3 w-50' type="text"
                        style=' border-style:none; outline:none;  border-bottom-style:solid; border-color:green;'>
                    <a class='alert alert-danger ml-md-5 ml-sm-1 w-sm-25 d-sm-block'  href="#"> Review</a>
                </form>
            </div>

            {% comment %} comment section  {% endcomment %}
            <div class="comment-section">
                <div class="comment">
                    <div class="row">
                    <div class="col-sm-1 text-right">
                        <img src="{% static 'images/products/image1.jpg' %}" alt="" class="rounded-circle img-fluid border border-green"
                            width='50px' height='50px;'>
                    </div>
                    <div class="col-sm-8 text-left">
                        <h6 class="font-weight-bold" style="font-size: 0.8rem; margin:2px;">Name First</h6>
                        <p style="font-size:0.8rem; margin: 0px;" class="font-italic">Its an awesome t-shirt</p>
                        <p class="mt-0 comment-reply d-sm-inline" style="font-size: 0.8rem;">Reply</p>
                        <p class="mt-0 d-inline" style="font-size: 0.8rem;">Edit</p>
                    </div>
                    </div>
                </div>

                <div class="reply ml-5">
                    <div class='row'>
                    <div class="col-md-1 col-sm-2 text-right">
                        <img src="{% static 'images/products/image1.jpg' %}" alt="" class="rounded-circle img-fluid border border-green"
                            width='50px' height='50px;'>
                    </div>
                    <div class="col-md-8 col-sm-5 text-left mb-4" >
                        <h6 class="font-weight-bold" style="font-size: 0.8rem; margin:2px;">Name First</h6>
                        <p style="font-size:0.8rem; margin: 0px;" class="font-italic">Its an awesome t-shirt</p>
                        <p class="mt-0  d-sm-inline" style="font-size: 0.8rem;">Reply</p>
                        <p class="mt-0 d-sm-inline" style="font-size: 0.8rem;">Edit</p>
                    </div>
                    </div>
                </div>
            </div>
            {% comment %} end comment section  {% endcomment %}
        </div>


    </div>
</div>
</div>



<div class="container-fluid mt-5">

    <h1> People who viewed this Item also Viewed</h1>
    <div class="row mb-5" style="display:flex; justify-content:space-around">
        <div class="card m-md-3 m-sm-2" style="width: 18rem; display:inline-block;">
            <img src="{% static 'images/slider/slider1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card m-md-3 m-sm-2" style="width: 18rem; display:inline-block;">
            <img src="{% static 'images/slider/slider2.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card m-md-3 m-sm-2" style="width: 18rem; display:inline-block;">
            <img src="{% static 'images/slider/slider1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card m-md-3 m-sm-2" style="width: 18rem; display:inline-block;">
            <img src="{% static 'images/slider/slider3.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>


    </div>
</div>

{% endblock content %}