{% extends 'mainapp/base.html' %}
{% load static %}

{% block inlinecss %}
<style>
    .search-wrapper{
        width:100%;
        height: 3rem;
        {% comment %} border: 1px solid red; {% endcomment %}
    }
    .form-area{
        width: 100%;
        text-align:center;
        position: relative;
    }
    .form-area input{
        width: 100%;
        height: 2rem;
        border-radius: 5px;
        border-top-style:none;
        border-left-style: none;
        outline-color: #777;
        padding: 1rem;
        border-color: #777;
    }
    .form-area input:focus{
        opacity: 0.5;
        font-weight:600;
    }
    .form-area i{
        position: absolute;
        top: 7px;
        right: 10px;
    }
    .checkbox-area{
        position: relative;
    }
    .checkbox-area input[type='checkbox']{
        width: 20px;
        height: 30px;
        position: absolute;
        left:0px;        
    }
     .form-check label{
         position: relative;
         left: 10px;
     }
     .rating li{
         display: inline-block;
     }
     .rating .fas{
         color: #faca51;
     }
     .form-check input[type='radio']{
         width: 15px;
         height: 15px;
         margin-top: 5px;
         position: absolute;
         left: 0px;
     }
     .form-check label{
        font-size: 1rem;
        font-weight: 400;
        text-align:center;
        position: relative;
     }


     .min-max-search{
         position: relative;
     }

     .min-label{
         position: absolute;
         top: 5px;
         left: 10px;
         transition: 0.5s;
         padding: 0 5px;
     }
     .min-max-search input:focus ~ .min-label{
        transform: translateY(-80%);
        background: white;
        font-size: 12px;
        font-weight:600;
    }
</style>

{% endblock inlinecss %}

{% block content %}
<div class="container-fluid">
    <div class='row'>
        <div class="col-lg-3 ml-5 border border-1 border border-danger">
            <h1>sidebar</h1>
            <div class="search-wrapper">
                <form class='form-area' action="">
                        <input type="text" name="search-item" id="search-item">
                        <i class="fas fa-search"></i>
                </form>
            </div>
            {% comment %} checkbox area  {% endcomment %}
            <div class="checkbox-area">
                <div>
                <h3 for="checkbox-title">Filters</h3>
                <label for="Condition">Condition</label>
                </div>

                <div class="form-check">
                    <input type="checkbox">
                    <label for="">NEW</label>
                </div>
                <div class="form-check">
                    <input type="checkbox">
                    <label for="">USED</label>
                </div>
                <div class="form-check">
                    <input type="checkbox">
                    <label for="">RENEWED</label>
                </div>
            </div>

            {% comment %} rating  {% endcomment %}
            <section class="mb-4">
                <h6 class="font-weight-bold mt-4 mb-3">Avg. Customer Review</h6>
                <a href="#!">
                    <ul class="rating">
                    <li><i class="fas fa-star fa-sm "></i></li>
                    <li><i class="fas fa-star fa-sm "></i></li>
                    <li><i class="fas fa-star fa-sm "></i></li>
                    <li><i class="fas fa-star fa-sm "></i></li>
                    <li><i class="far fa-star fa-sm "></i></li>
                    <li><p class="small text-uppercase card-link-secondary px-2">& Up</p></li>
                    </ul>
                </a>
                <a href="#!">
                    <ul class="rating">
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="far fa-star fa-sm"></i></li>
                    <li><i class="far fa-star fa-sm"></i></li>
                    <li><p class="small text-uppercase card-link-secondary px-2">& Up</p></li>
                    </ul>
                </a>
                <a href="#!">
                    <ul class="rating">
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="far fa-star fa-sm"></i></li>
                    <li><i class="far fa-star fa-sm"></i></li>
                    <li><i class="far fa-star fa-sm"></i></li>
                    <li><p class="small text-uppercase card-link-secondary px-2">& Up</p></li>
                    </ul>
                </a>
                <a href="#!">
                    <ul class="rating">
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="far fa-star fa-sm"></i></li>
                    <li><i class="far fa-star fa-sm"></i></li>
                    <li><i class="far fa-star fa-sm"></i></li>
                    <li><i class="far fa-star fa-sm"></i></li>
                    <li><p class="small text-uppercase card-link-secondary px-2">& Up</p></li>
                    </ul>
                </a>
            </section>

            <section>
                <div>
                    <label for="price"><h3>Price</h3></label>
                </div>

                <div class="form-check">
                    <input type="radio" name='radio_search' id='under25'>
                    <label for="under25">Under $25</label>
                </div>

                <div class="form-check">
                    <input type="radio" name='radio_search' id='2550'>
                    <label for="2550">$25 to $50</label>
                </div>

                <div class="form-check">
                    <input type="radio" name='radio_search' id='50100'>
                    <label for="50100">$50 to $100</label>
                </div>

                <div class="form-check">
                    <input type="radio" name='radio_search' id='100200'>
                    <label for="100200">$100 to $200</label>
                </div>

                <div class="form-check">
                    <input type="radio" name='radio_search' id='200above'>
                    <label for="200above">$200 & Above</label>
                </div>
            </section>

            <form>
                <div class="d-flex align-items-center mt-4 pb-1">
                    <div class="md-form md-outline my-0 min-max-search">
                        <input id="from" type="text" class="form-control mb-0">
                        <label class='min-label' id='min-label' for="form">$ Min</label>
                    </div>
                    <p class="px-2 mb-0 text-muted"> - </p>
                    <div class="md-form md-outline my-0 min-max-search">
                        <input id="to" type="text" class="form-control mb-0">
                        <label class='min-label' for="to">$ Max</label>
                    </div>
                </div>
            </form>

            {% comment %} checkbox area  {% endcomment %}
            <div class="checkbox-area">
                <div>
                <h3 for="checkbox-title" class='mt-4'>Size</h3>
                </div>

                <div class="form-check">
                    <input type="checkbox">
                    <label for="">small</label>
                </div>
                <div class="form-check">
                    <input type="checkbox">
                    <label for="">Medium</label>
                </div>
                <div class="form-check">
                    <input type="checkbox">
                    <label for="">Large</label>
                </div>
            </div>   

        </div>


        {% comment %} second column {% endcomment %}
        <div class="col-md-8 ml-5 border border-1 border border-danger">
            <div class="row">
                {% comment %} first card {% endcomment %}
                <div class="col-md-3 ">
                    <a href="product1">
                        <div class="product-top">
                            <div class="image_format border shadow p-3 mb-2 bg-white rounded">
                                <img src="{% static 'images/products/image1.jpg' %}">
                            </div>
                            <div class="overlay bg-light">
                                <button class="btn" title="Add to cart"><i
                                        class="fas fa-shopping-cart fa-sm"></i></button>
                                <button class="btn" title="Wishlist"><i class="far fa-heart fa-sm"></i></button>
                                <a href="{% url 'details' %}"><button class="btn" title="Quick shop"><i
                                            class="far fa-eye fa-sm"></i></button></a>
                            </div>
                        </div>
                        <div class="product-bottom">
                            <i class="fas fa-star fa-xs"></i>
                            <i class="fas fa-star fa-xs"></i>
                            <i class="fas fa-star fa-xs"></i>
                            <i class="fas fa-star-half-alt fa-xs"></i>
                            <i class="far fa-star fa-xs"></i>
                            <div class="product-detail">
                                <h3>One piece</h3>
                            </div>
                            <div class="product-price">

                                <h5> <del style="width:40px; color:red;"> Rs. 3300</del> &nbsp &nbsp Rs. 2000</h5>
                            </div>
                        </div>
                    </a>
                </div>
                {% comment %} second card {% endcomment %}
                <div class="col-md-3">
                    <a href="product1">
                        <div class="product-top">
                            <div class="image_format border shadow p-3 mb-2 bg-white rounded">
                                <img src="{% static 'images/products/image2.png' %}">
                            </div>
                            <div class="overlay bg-light">
                                <button class="btn" title="Add to cart"><i
                                        class="fas fa-shopping-cart fa-sm"></i></button>
                                <button class="btn" title="Wishlist"><i class="far fa-heart fa-sm"></i></button>
                                <button class="btn" title="Quick shop"><i class="far fa-eye fa-sm"></i></button>
                            </div>
                        </div>
                        <div class="product-bottom">
                            <i class="fas fa-star fa-xs"></i>
                            <i class="fas fa-star fa-xs"></i>
                            <i class="fas fa-star fa-xs"></i>
                            <i class="fas fa-star-half-alt fa-xs"></i>
                            <i class="far fa-star fa-xs"></i>
                            <div class="product-detail">
                                <h3>One piece</h3>
                            </div>
                            <div class="product-price">
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                    </a>
                </div>

                {% comment %} third card {% endcomment %}
                <div class="col-md-3">
                    <a href="product1">
                        <div class="product-top">
                            <div class="image_format border shadow p-3 mb-2 bg-white rounded">
                                <img src="{% static 'images/products/image3.jpeg' %}">
                            </div>
                            <div class="overlay bg-light">
                                <button class="btn" title="Add to cart"><i
                                        class="fas fa-shopping-cart fa-sm"></i></button>
                                <button class="btn" title="Wishlist"><i class="far fa-heart fa-sm"></i></button>
                                <button class="btn" title="Quick shop"><i class="far fa-eye fa-sm"></i></button>
                            </div>
                        </div>
                        <div class="product-bottom">
                            <i class="fas fa-star fa-xs"></i>
                            <i class="fas fa-star fa-xs"></i>
                            <i class="fas fa-star fa-xs"></i>
                            <i class="fas fa-star-half-alt fa-xs"></i>
                            <i class="far fa-star fa-xs"></i>
                            <div class="product-detail">
                                <h3>One piece</h3>
                            </div>
                            <div class="product-price">
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                    </a>
                </div>
                {% comment %} fourth card {% endcomment %}
                <div class="col-md-3">
                    <a href="product1">
                        <div class="product-top">
                            <div class="image_format border shadow p-3 mb-2 bg-white rounded">
                                <img src="{% static 'images/products/image3.jpeg' %}">
                            </div>
                            <div class="overlay bg-light">
                                <button class="btn" title="Add to cart"><i
                                        class="fas fa-shopping-cart fa-sm"></i></button>
                                <button class="btn" title="Wishlist"><i class="far fa-heart fa-sm"></i></button>
                                <button class="btn" title="Quick shop"><i class="far fa-eye fa-sm"></i></button>
                            </div>
                        </div>
                        <div class="product-bottom">
                            <i class="fas fa-star fa-xs"></i>
                            <i class="fas fa-star fa-xs"></i>
                            <i class="fas fa-star fa-xs"></i>
                            <i class="fas fa-star-half-alt fa-xs"></i>
                            <i class="far fa-star fa-xs"></i>
                            <div class="product-detail">
                                <h3>One piece</h3>
                            </div>
                            <div class="product-price">
                                <h5>Rs. 2000</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>{% comment %} end of second column {% endcomment %}
    </div>
</div>


{% endblock content %}