{% extends 'mainapp/base.html' %}
{% load static %}

{% block inlinecss %}
<style>
    .forhover {
        transition: all 0.5s ease;
    }

    .forhover:hover {
        box-shadow: 3px 5px 3px #F0F8FF;
        color: black;
        background: #c6c6ff;

    }

    .rateus-label {
        font-size: 1.2rem;
        font-weight: 600;
        font-family: Aeria;
    }

    .rateus i {
        font-size: 1.7rem;
    }

    .reply {
        display: none;
    }

    .reply-show {
        display: block;
    }

    .comment-details {
        display: inline;
        border: 1px solid red;
    }

    .main-image-layout {
        width: 300px;
        height: 450px;
        overflow: hidden;
        padding: 0 0;
        transition: 1s all ease;
    }

    .container-layout {
        width: 100%;
        height: 100%;
        padding: 0 0;
    }

    .stock {
        position: absolute;
        top: 0;
        right: 100px;
        width: 150px;
        height: 40px;
        font-weight: 600;
        background: #f57224;
        border: none;
        Color: white;
        pointer-events: none;
        font-size: 1.3rem;
        border-radius: 2px;

    }

    .diss {
        border: none;
        Color: white;
        margin-left: 2rem;
        background: #f57224;
        padding: 0.1rem .8rem;
        width: 30px;
        height: 30px;
        font-size: .9rem;
    }
</style>
{% endblock inlinecss %}


{% block content %}


{% comment %} Product Details {% endcomment %}
<div class="container-fluid">
    <h3 class='alert alert-info text-center mt-5 border border-info'>Product Details</h3>
    {% comment %} image Section {% endcomment %}
    <div class="row mt-sm-3">
        <div class="col-md-4 col-sm-12">
            <div class="col-sm-12" style="height:600px; width:600px">
                <img src="{{singleProduct.image.url}}" class='main-image container-layout' alt=""
                    style="height:100%; width:100%;">
            </div>

            <div class="row mr-1 mt-1" style="height:100px">
                <div class="col-sm-3 p-1" style="height:100%; width:100%;">
                    <img src="{{singleProduct.image.url}}" class='image-change-js container-layout' alt=""
                    style="height:100%; width:100%;">
                </div>
                {% for data in singleProduct.productalternativeimage_set.all %}
                <div class="col-sm-3 p-1" style="height:100%; width:100%;">
                    <img class='img-fluid container-layout image-change-js'
                        src="{{data.alternative_image.url}}" alt="">
                </div>
                {% endfor %}
                
            </div>
        </div>
        {% comment %} end image Section {% endcomment %}

        {% comment %} description section {% endcomment %}
        <div class="col-md-8 col-sm-12 text-md-left text-sm-center">
            <h2 class="mt-3">{{singleProduct.name | title}}</h2>
            <p class='m-sm-1 text-muted'>{{singleProduct.category.second_level_category | upper}} || BRAND NAME :
                {{singleProduct.category.brand_name | upper}}</p>

            <div style='color:#ffd700'>
                <i class="fas fa-star fa-xs"></i>
                <i class="fas fa-star fa-xs"></i>
                <i class="fas fa-star fa-xs"></i>
                <i class="fas fa-star-half-alt fa-xs"></i>
                <i class="far fa-star fa-xs"></i>
            </div>

            <div class="d-block ">
                {% if singleProduct.discount.active %}
                ${{singleProduct.calculate_Discount}}
                <p class="price-tag text-muted">
                    <del class="m-0 mb-0" style="font-size: .7rem;">
                        ${{singleProduct.price}}
                    </del>
                    <span class="diss">{{ singleProduct.discount.discount_percentage }}% OFF</span>
                </p>
                {% else %}
                <p class="mb-0 mt-0 price-tag">
                    <p class='m-sm-1'><strong>$ {{singleProduct.price}}</strong></p>
                </p>
                {% endif %}
            </div>

            <div class="table-responsive">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, nam quisquam
                    dolor reiciendis autem quasi blanditiis reprehenderit earum in.Consequatur doloribus
                    dolorem temporibus sint nemo reprehenderit quibusdam error? Libero, omnis.</p>
                <table class="table table-sm table-borderless mb-0">
                    <tbody>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Model</strong></th>
                            <td>Shirt 5407X</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Color</strong></th>
                            <td>Black</td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Delivery</strong></th>
                            <td>USA, Europe</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>

            <div class="m-sm-3">
                <p><strong>Select Size :</strong></p>
                <div class="form-check form-check-inline pl-sm-0 text-sm-center">
                    <input type="radio" class="form-check-input" id="small" name="materialExampleRadios" checked>
                    <label class="form-check-label small text-uppercase card-link-secondary" for="small">Small</label>
                </div>
                <div class="form-check form-check-inline pl-sm-0">
                    <input type="radio" class="form-check-input" id="medium" name="materialExampleRadios">
                    <label class="form-check-label small text-uppercase card-link-secondary" for="medium">Medium</label>
                </div>
                <div class="form-check form-check-inline pl-sm-0">
                    <input type="radio" class="form-check-input" id="large" name="materialExampleRadios">
                    <label class="form-check-label small text-uppercase card-link-secondary" for="large">Large</label>
                </div>
            </div>

            <div class="def-number-input number-input safari_only m-sm-3">

                {% if singleProduct.availability %}
                <button class="stock">In Stock</button>
                {% else %}
                <button class="stock">Out Of Stock</button>
                {% endif %}


                
            </div>
            {% comment %} button {% endcomment %}
            <div class="mt-4">
                <form action="/cart/" method="post" class="d-inline-block">
                    {% csrf_token %}
                    <input id="product_id" type="text" name="detail_item_id" value="{{singleProduct.id}}" hidden>
                    <button type="submit" style="border-radius:2px;"
                        class="bg-primary forhover text-white p-2 border-0 add-to-cart-btn1"><i
                            class='fas fa-shopping-cart pr-2'></i> Add to
                        Card</button>
                </form>

                {% comment %} <form action="/removecart/{{}}/" method="post" class="d-inline-block ml-md-3">
                    {% csrf_token %}
                    <input type="text" name="remove_cart_id" value="{{ singleProduct.id }}" hidden>
                    <button type="submit" style="border-radius:2px;"
                        class="bg-danger forhover text-white p-2 border-0"><i class='fas fa-trash-alt pr-2'></i> Remove
                        Item</button>
                </form> {% endcomment %}
            </div>
        </div>
        {% comment %} end description section {% endcomment %}
    </div>
</div>

<div class="container mt-sm-5 mb-sm-5 border">
    <div class="row">
        <div class="col-md-12">
            <div class="product-tab">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-detail-tab" data-toggle="tab" href="#pills-details" role="tab"
                            aria-controls="pills-details" aria-selected="true">Detail</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-review-tab" data-toggle="tab" href="#pills-review" role="tab"
                            aria-controls="pills-review" aria-selected="false">Review({{comments.count}})</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
                <!--Details tab-->
                <div class="tab-pane fade show active" id="pills-details" role="tabpanel" aria-labelledby="pills-detail-tab">
                    <p>
                        something here{{ product.detail |safe }}
                    </p>
                </div>
                <!--Review Tab-->
                <div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="product-reviews">
                                {% for rs in page_obj %}
                                <div class="single-review border-bottom" >
                                    <div class="review-heading">
                                                <div><a href="#"><i class="fa fa-user-o"></i> {{rs.user.first_name}}</a></div>
                                                <div style="font-size:14px;"><p>{{rs.subject}}</p></div>
                                                <div style="font-size:12px;"><p class="text-muted" href="#"><i class="fa fa-clock-o"></i> {{rs.created}}</p></div>
                                            
                                            <div class="review-rating float-right" style="font-size:12px;">
                                                <i class="fa fa-star{% if rs.rate < 1 %}-o empty{% endif %}"></i>
                                                <i class="fa fa-star{% if rs.rate < 2 %}-o empty{% endif %}"></i>
                                                <i class="fa fa-star{% if rs.rate < 3 %}-o empty{% endif %}"></i>
                                                <i class="fa fa-star{% if rs.rate < 4 %}-o empty{% endif %}"></i>
                                                <i class="fa fa-star{% if rs.rate < 5 %}-o empty{% endif %}"></i>
                                            </div>

                                    </div>
                                    <div class="review-body">
                                        <p>{{rs.comment}}</p>
                                    </div>
                                </div>
                                {% endfor %}

                                <div class="pagination">
                                    <span class="step-links">
                                        {% if page_obj.has_previous %}
                                            <a href="?page=1">&laquo; 1</a>
                                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                        {% endif %}

                                        <span class="current">
                                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                        </span>

                                        {% if page_obj.has_next %}
                                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                                            {% comment %} <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a> {% endcomment %}
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4 class="text-uppercase">Write Your Review</h4>

                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{{message.tags}}" role="alert">
                                {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}

                            <form class="review-form" action="{% url 'add_comment' singleProduct.id %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input name="subject" class="input form-control" type="text"
                                        placeholder="Your subject" />
                                </div>

                                <div class="form-group">
                                    <textarea name="comment" class="input form-control"
                                        placeholder="Your review"></textarea>
                                </div>
                                <div class="form-group">
                                    <div class="input-rating">
                                        <strong class="text-uppercase">Your Rating: </strong>
                                        <div class="stars">
                                            <input type="radio" id="star5" name="rate" value="5" /><label
                                                for="star5"></label>
                                            <input type="radio" id="star4" name="rate" value="4" /><label
                                                for="star4"></label>
                                            <input type="radio" id="star3" name="rate" value="3" /><label
                                                for="star3"></label>
                                            <input type="radio" id="star2" name="rate" value="2" /><label
                                                for="star2"></label>
                                            <input type="radio" id="star1" name="rate" value="1" /><label
                                                for="star1"></label>
                                        </div>
                                    </div>
                                </div>
                                {% if request.user.id is not None %}
                                <button type="submit" class="btn-primary p-1 border" style="backgroud:#f57224">Submit</button>
                                {% else %}
                                You must be logged in to post a review
                                {% endif %}
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid mt-5">

    <h1> People who viewed this Item also Viewed</h1>
    <div class="row mb-5" style="display:flex; justify-content:space-around">
        <div class="card m-md-3 m-sm-2" style="width: 18rem; display:inline-block;">
            <img src="{% static 'images/slider/slider1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card m-md-3 m-sm-2" style="width: 18rem; display:inline-block;">
            <img src="{% static 'images/slider/slider2.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card m-md-3 m-sm-2" style="width: 18rem; display:inline-block;">
            <img src="{% static 'images/slider/slider1.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card m-md-3 m-sm-2" style="width: 18rem; display:inline-block;">
            <img src="{% static 'images/slider/slider3.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>


    </div>
</div>



{% endblock content %}