{% extends "mainapp/base.html" %}
{% load static %}

{% block title %}Payment{% endblock title %}


{% block inlinecss %}{% endblock inlinecss %}


{% block content %}







{% comment %} <div class="container">

    <a href="{% url 'post_payment' %}"><button>Make Payment</button></a>
</div> {% endcomment %}


<div class="conatiner mb-5">
    <h4 class="d-flex justify-content-center">Your Cart Items</h4>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-sm-6">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for orderItem in orderItems %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{orderItem.item.name}}</td>
                        <td>{{orderItem.quantity}}</td>
                        <td>Rs. {{orderItem.get_total_price}}</td>
                    </tr>
                    {% endfor %}
                    {% comment %} {% if orderItem.get_cart_total %} {% endcomment %}
                    <tr>
                        <th scope="row"></th>
                        <th>Grand Total</th>
                        <td></td>
                        <td >Rs. {{total}}</td>
                    </tr>
                    {% comment %} {% endif%} {% endcomment %}
                    
                </tbody>
            </table>

        </div>
        <div class="col-3"></div>

    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
                <div class="text-center m-4 text-indigo"><h4>PayPal Payment Gateway</h4></div>
                <div id="paypal-button-container"></div>
                    
                    <!-- Include the PayPal JavaScript SDK -->
                    <script src="https://www.paypal.com/sdk/js?client-id=Aam6uwbKPINR8_b8QrqxG0ktWqGgQAH0IIlIePiGPwRTlpR3Jd_k4Ik-Y8kXDd7g_8M0ohkdkqgho8_q&currency=USD"></script>

                    <script>

                        // Render the PayPal button into #paypal-button-container
                        paypal.Buttons({

                            // Set up the transaction
                            createOrder: function(data, actions) {
                                return actions.order.create({
                                    purchase_units: [{
                                        amount: {
                                            value: "{{total}}"
                                        }
                                    }]
                                });
                            },

                            // Finalize the transaction
                            onApprove: function(data, actions) {
                                return actions.order.capture().then(function(orderData) {
                                    // Successful capture! For demo purposes:
                                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                                    var transaction = orderData.purchase_units[0].payments.captures[0];
                                    var transcation_id = transaction.id

                                    PaymentFunction(transcation_id)
                                    alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                                    // Replace the above to show a success message within this page, e.g.
                                    // const element = document.getElementById('paypal-button-container');
                                    // element.innerHTML = '';
                                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                                    // Or go to another URL:  actions.redirect('thank_you.html');
                                });
                            }


                        }).render('#paypal-button-container');
                    </script>
        
        </div>
        <div class="col-3"></div>
    </div>
</div>

<script>

    function PaymentFunction(transcation_id){
        console.log("i ma inside the PaymentFunction")
        

        url = '/post_payment/'

        fetch(url, {
            method: "POST",
            headers:{
                'Content-Type': 'application/json',
                'X-CSRFToken':csrftoken,

        },
        body:JSON.stringify({'transcation_id':transcation_id,'amount' :  '{{total}}'})
        })

        .then((response) =>{
                return response.json()
        })

        .then((data) =>{
                location.reload()
            })

    }

</script>



{% endblock content %}