{% load static %}


<div class="container-fluid">
  <div class="row productslider pl-5 pr-5">
  {% for data in FirstSlideProduct %}
    <div class="col-md-12">
      <div class="card">
        <a href="{% url 'details' data.id %}"><img src="{{data.image.url}}" class="card-img-top" alt="..." ></a>
        {% if data.discount.active %}
        <div class="position-absolute top-0 right-0 discount-card">{{data.discount.discount_percentage}}% off
        </div>
        {% endif %}
        <div class="card-body bg-white text-dark overflow-hidden p-2" style= "height: 8rem">
          <h5 class="mb-auto" class="card-title">{{data.name | title}}</h5>
          <p style="font-size:0.7rem;" class="card-text mb-sm-0 mt-sm-0">{{data.category.name | title}}</p>
          {% if date.get_average_rating.rating_avg %}
            
             <div class="review-rating" style="font-size:12px;">
                <i style="color:#FFB656;" class="fa fa-star{% if date.get_average_rating.rating_avg < 1 %}-o empty{% endif %}"></i>
                <i style="color:#FFB656;" class="fa fa-star{% if date.get_average_rating.rating_avg < 2 %}-o empty{% endif %}"></i>
                <i style="color:#FFB656;" class="fa fa-star{% if date.get_average_rating.rating_avg < 3 %}-o empty{% endif %}"></i>
                <i style="color:#FFB656;" class="fa fa-star{% if date.get_average_rating.rating_avg < 4 %}-o empty{% endif %}"></i>
                <i style="color:#FFB656;" class="fa fa-star{% if date.get_average_rating.rating_avg < 5 %}-o empty{% endif %}"></i>
                ({{date.get_average_rating.rating_avg}})
            </div>
            {% else %}
            <div class="review-rating" style="font-size:12px;">
                <i style="color:#FFB656;" class="fa fa-star-o empty"></i>
                <i style="color:#FFB656;" class="fa fa-star-o empty"></i>
                <i style="color:#FFB656;" class="fa fa-star-o empty"></i>
                <i style="color:#FFB656;" class="fa fa-star-o empty"></i>
                <i style="color:#FFB656;" class="fa fa-star-o empty"></i>
            </div> 
            (Not Rated Yet)
            {% endif %}
          <div class="d-md-flex justify-content-between mt-sm-1 d-sm-block">
            <div class="d-block ">
              {% if data.discount.active %}
              <p class="mb-0 mt-0 price-tag">
                ${{data.price}}<br> <del class="mt-0 mb-0"
                  style="font-size: .7rem;">&nbsp{{data.calculate_Discount}}&nbsp</del></p>
              {% else %}
              <p class="mb-0 mt-0 price-tag">
                ${{data.price}}</p>
              {% endif %}
            </div>

            {% comment %} <div class="d-flex"> {% endcomment %}
            {% if request.user.is_authenticated %}
              <div class="">
                <form action="/cart/" method="post" class="">
                {% csrf_token %}
                <input type="hidden" name = "detail_item_id" value="{{data.id}}" hidden>
                <button type= "submit" class="alert alert-secondary d-sm-inline-block forhover" href="{% url 'cart' %}"><i class='fas fa-shopping-cart pr-2'></i> Add to
                    Card</button>
                </form>
                {% comment %} <a href="">Add to cart</a> {% endcomment %}
              </div>
              {% else %}
              <div class="p-2 h-25" style="background-color:#613f99">
                 
                <a class="w-50 text-center text-white text-decoration-none" href="{% url 'wishlist' data.id %}">
                  Add to Wishlist
                  <i class="fa fa-heart" aria-hidden="true"></i>
                </a> 
              </div>
              {% endif %}
            {% comment %} </div> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>