{% extends "mainapp/base.html" %}
{% load static %}

{% block inlinecss %}

    <style>
        .img-block{
            width:200px;
            height:200px;
        }
        
    </style>
{% endblock inlinecss %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-1 col-sm-12"></div>
        {% comment %} first column {% endcomment %}
        <div class="col-md-10 col-sm-12 shadow">
        {% if products.count > 0 %}
            <h5 class="mb-4">wishlist (<span>{{products.count}}</span> items)</h5>
            {% for data in products %}
            <div class="row cart-row cart-shadow">
                {% comment %} img column {% endcomment %}
                <div class="col-md-3 col-sm-4 col-xm-12 d-inline-block img-block">
                    <img style='width:100%; height:100%;' class='cart-img shadow'
                        src="{{data.image.url}}" alt="image1" height='220px' width='200px'>
                </div>

                {% comment %} description column {% endcomment %}
                <div class="col-md-8 col-sm-7 col-xs-12 ml-2 d-inline-block">
                    <h5>{{data.name | title}}</h5>
                    {% if data.discount.active %}
                        <p class="" style="margin-bottom: 0rem;">
                            <span class="badge badge-primary"><del>${{data.price}}</del></span>
                                 
                        <p class="" style="font-size: 1rem; margin-bottom: -1rem;">${{data.calculate_Discount}}&nbsp</p></p>
                    {% else %}
                        <p class="" style="margin-bottom: 0rem;">${{data.price}}</p>
                    {% endif %}
                    {% comment %} for button {% endcomment %}
                    <div class="d-flex justify-content-between align-items-center border-1 mt-5">
                        <div>
                            <a href="{% url 'remove_from_wishlist' data.id %}" type="button" class="card-link-danger text-danger small text-uppercase mr-3"><i
                                    class="fas fa-trash-alt mr-1"></i> Remove Item </a>
                            <a href="{% url 'wishlist_to_cart' %}" type="button" class="card-link-secondary small text-uppercase"><i
                                    class="fa fa-shopping-cart mr-1"></i> Move to Cart </a>
                        </div>
                    </div>
                </div>

            </div>{% comment %} end description column {% endcomment %}
            {% comment %} <hr style="width:80%; background-color:gray; margin:auto;"> {% endcomment %}
            {% endfor %}


        {% else %}
            <div class="container mt-5">    
                <div class="cart-empty text-center">
                    <div class="text-center ">There are no items in this wishlist</div>
                        <a href="{% url 'shopping_page1' 'all'  %}"><button type="button" class="text-center mt-5 p-2 border border-info text-info">CONTINUE SHOPPING</button></a>
                    </div>
                </div>
            </div>
        {% endif %}

        </div>
        <div class="col-md-1 col-sm-12"></div>
    </div>
</div>


{% comment %} payment section {% endcomment %}
<div class="container mt-5">
    <div class="card mb-3 shadow">
        <div class="card-body">
            <h5 class="mb-4">Expected shipping delivery</h5>
            <p class="mb-0"> Thu., 12.03. - Mon., 16.03.</p>
        </div>
    </div>
    <div class="card mb-3 shadow">
        <div class="card-body">
            <h5 class="mb-4">We accept</h5>
            <img class="mr-2" width="45px"
                src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                alt="Visa">
            <img class="mr-2" width="45px"
                src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                alt="American Express">
            <img class="mr-2" width="45px"
                src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                alt="Mastercard">
            <img class="mr-2" width="45px"
                src="https://z9t4u9f6.stackpathcdn.com/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.png"
                alt="PayPal acceptance mark">
        </div>
    </div>
</div>
{% endblock content %}