{% extends "../mainapp/base.html" %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container mt-sm-5 mb-sm-5 ">
    <div class="form-wrapper w-75 m-sm-auto p-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>{% trans "Password Reset" %}</h1>
                    
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    
                    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

                     <div class="d-inline-block bg-primary p-2">
                        <a href="{% url 'login' %}" class="text-white text-decoration-none">Goto Login</a>
                     </div>
               </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
