{% for rs in data %}
<h1>jiwnafsdfasdf {{rs.has_next}}</h1>
                                <div class="single-review border-bottom" >
                                    <div class="review-heading">
                                                <div><a href="#"><i class="fa fa-user-o"></i> {{rs.user.first_name}}</a></div>
                                                <div style="font-size:14px;"><p>{{rs.subject}}</p></div>
                                                <div style="font-size:12px;"><p class="text-muted" href="#"><i class="fa fa-clock-o"></i> {{rs.created}}</p></div>
                                            
                                            <div class="review-rating float-right" style="font-size:12px;">
                                                <i class="fa fa-star{% if rs.rate < 1 %}-o empty{% endif %}"></i>
                                                <i class="fa fa-star{% if rs.rate < 2 %}-o empty{% endif %}"></i>
                                                <i class="fa fa-star{% if rs.rate < 3 %}-o empty{% endif %}"></i>
                                                <i class="fa fa-star{% if rs.rate < 4 %}-o empty{% endif %}"></i>
                                                <i class="fa fa-star{% if rs.rate < 5 %}-o empty{% endif %}"></i>
                                            </div>

                                    </div>
                                    <div class="review-body">
                                        <p>{{rs.comment}}</p>
                                    </div>
                                </div>
                                <div class="pagination">
                                <span class="step-links">
                                    {% if page_obj.has_previous %}
                                        <button class="page-no">&laquo; 1</button>
                                        <button class="page-no" value="{{ page_obj.previous_page_number }}">previous</button>
                                    {% endif %}

                                    <span class="current">
                                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                    </span>

                                    {% if page_obj.has_next %}
                                        <button class="page-no" value="{{ page_obj.next_page_number }}">next</button>
                                        {% comment %} <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a> {% endcomment %}
                                    {% endif %}
                                </span>
                            </div>
{% endfor %}