
.update-section{
    width: 100%;
    background-color: black;
    display: none;
    position: absolute;
    top: 0;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    

}
.update-section.show{
    display: block;
    transition: all 3s ease-in;
}
.inner-section{
    width: 30rem;
    background: white;
    margin: 4rem auto;
    padding: 0.7rem;
}
.close-btn i:hover{
    font-size: 4rem;
}

.delete-section{
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    /* opacity: 0; */

    display: none;
}
.delete-inner{
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    height: 10rem;
    margin: auto;
    text-align: center;
    border-radius: 1px;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem;
    
}
.delete-section.show{
    /* opacity: 1; */
    display: block;
}

