
{% extends "../mainapp/base.html" %}
{% load static %}
{% load crispy_forms_filters %}


{% block title %}Login Page{% endblock title %}

{% block content %}


 {% if not user.is_authenticated %}
 
<div class="container mt-sm-5 mb-sm-5 ">
    <div class="form-wrapper w-75 m-sm-auto p-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                
                {% if messages %}
                    {% for message in messages %}
                        <p class="alert-success p-2" style="font-size:1rem;">{{message}}</p>
                    {% endfor %}
                {% endif %}

                {% if form.non_field_errors %}
                    <span class="errors">
                        {{form.errors|striptags}}
                    </span>
                {% endif %}


                    <form method= "POST" action="">
                        {% csrf_token %}
                        {{form | crispy}}
                        
                        <button type="submit" class="btn btn-primary">Login</button>
                        </form>

                        <div class="d-flex justify-content-between mt-4">
                            <div>
                                <label for="" class="font-weight-bold added-style">New Customer ?</label>
                                <a href="{% url 'accounts:register' %}" class="added-style text-decoration-none" style="cursor:pointer;"> Register</a> Here
                            </div>
                            <div>
                                <label for="" class="font-weight-bold added-style">New Merchant ?</label>
                                <a href="{% url 'accounts:merchant_register' %}" class="added-style text-decoration-none" style="cursor:pointer;"> Register</a> Here
                            </div>
                        </div>
                        <a href="{% url 'accounts:password_reset' %} " class="added-style text-decoration-none">Forget Password? </a>
                    


                </div>
            </div>
        </div>
    </div>
</div>

 {% else %}


        
 {% endif %}

{% endblock content %}