.product.product-details .product-name {
    margin-top: 15px;
  }
  
  .product.product-details .product-rating {
    margin-right: 15px;
    margin-bottom: 15px;
  }
  
  .product.product-details .product-options {
    padding-top: 10px;
    margin-bottom: 15px;
    border-top: 1px solid #DADADA;
    margin-top: 15px;
  }
  
  .product-options .size-option {
    margin-bottom: 15px;
  }
  
  .size-option>li {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 6px;
    vertical-align: top;
  }
  
  .size-option>li:last-child {
    margin-right: 0px;
  }
  
  .size-option>li>a {
    display: block;
    border: 1px solid #DADADA;
    font-weight: 700;
    padding: 2px 7px 0px 8px;
  }
  
  .size-option>li.active a {
    color: #F8694A;
    border-color: #F8694A;
  }
  
  .color-option>li {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 6px;
    vertical-align: top;
  }
  
  .color-option>li:last-child {
    margin-right: 0px;
  }
  
  .color-option>li>a {
    display: block;
    width: 20px;
    height: 20px;
  }
  
  .color-option>li.active a {
    -webkit-box-shadow: 0px 0px 0px 2px #FFF, 0px 0px 0px 3px #F8694A;
    box-shadow: 0px 0px 0px 2px #FFF, 0px 0px 0px 3px #F8694A;
  }
  
  .product.product-details .qty-input {
    display: inline-block;
  }
  
  .product.product-details .qty-input .input {
    width: 90px;
  }
  
  /*----------------------------*\
      Product tab
  \*----------------------------*/
  
  .product-tab {
    margin-top: 30px;
  }
  
  .product-tab .tab-nav {
    border-bottom: 1px solid #DADADA;
    margin-bottom: 30px;
  }
  
  .product-tab .tab-nav li {
    display: inline-block;
  }
  
  .product-tab .tab-nav li+li {
    margin-left: 30px;
  }
  
  .product-tab .tab-nav li a {
    display: block;
    padding: 15px 0px;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .product-tab .tab-nav li.active {
    position: relative;
  }
  
  .product-tab .tab-nav li.active a {
    color: #F8694A;
  }
  
  .product-tab .tab-nav li.active a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1.5px;
    height: 3px;
    width: 30px;
    background-color: #F8694A;
  }
  
  /*-- reviews --*/
  
  .single-review {
    margin-bottom: 30px;
  }
  
  .single-review .review-heading>div {
    display: inline-block;
  }
  
  .single-review .review-heading>div+div {
    margin-left: 10px;
  }
  
  .single-review .review-rating {
    display: inline-block;
  }
  
  .single-review .review-rating>i {
    color: #FFB656;
  }
  
  .single-review .review-rating>i.empty {
    color: #DADADA;
  }
  
  .single-review .review-body {
    margin-top: 10px;
  }
  
  .reviews-pages li {
    display: inline-block;
    margin-right: 6px;
  }
  
  .reviews-pages li a {
    display: block;
    min-width: 10px;
    text-align: center;
  }
  
  .reviews-pages li.active {
    color: #F8694A;
  }
  
  /*-- review form --*/
  
  .review-form textarea.input {
    height: 90px;
  }
  
  .review-form .input-rating .stars {
    display: inline-block;
    vertical-align: top;
  }
  
  .review-form .input-rating .stars input[type="radio"] {
    display: none;
  }
  
  .review-form .input-rating .stars>label {
    float: right;
    cursor: pointer;
    padding: 0px 3px;
    margin: 0px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
  
  .review-form .input-rating .stars>label:hover, .review-form .input-rating .stars>label:hover~label {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  
  .review-form .input-rating .stars>label:before {
    content: "\f006";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color: #aaaa;
    font-size: 16px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
  
  .review-form .input-rating .stars>label:hover:before, .review-form .input-rating .stars>label:hover~label:before {
    content: "\f005";
    color: #FFB656;
  }
  
  .review-form .input-rating .stars>input:checked label:before, .review-form .input-rating .stars>input:checked~label:before {
    content: "\f005";
    color: #FFB656;
  }