<div class="row">
  <div class="col-3">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title text-center">Total Sales</h5>
        <h1 class="text-center"> RS. 500</h1>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <h3 class="">Trader Details</h3>
</div>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="card" style="width: 18rem">
        <div class="card-body ">
          <h5 class="card-title border-bottom pb-2  text-center">Number Of Buyers</h5>
          <h1 class="text-center">5</h1>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title border-bottom pb-2  text-center">Number of Products</h5>
          <h1 class="text-center">5</h1>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-lg-3 col-sm-12">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title border-bottom pb-2  text-center">Low Stocks Products</h5>
          <h1 class="text-center">5</h1>
        </div>
      </div>
    </div>
  </div>

