<div class="row">
  <div class="col-3">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title text-center">Total Sales</h5>
        <h1 class="text-center"> RS. {{total_sell}}</h1>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <h3 class="">Trader Details</h3>
</div>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="card" style="width: 18rem">
        <div class="card-body ">
          <h5 class="card-title border-bottom pb-2  text-center">Number Of Orders</h5>
          <h1 class="text-center">{{my_orders.count}}</h1>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title border-bottom pb-2  text-center">Number of Products</h5>
          {% if all_products.count == 0 %}
            <h1 class="text-center">0</h1>
          {% else %}
            <h1 class="text-center">{{all_products.count}}</h1>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-md-4 col-lg-3 col-sm-12">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title border-bottom pb-2  text-center">Low Stocks Products</h5>
            {% if low_stock <= 0 %}
              <h1 class="text-center">0</h1>
            {% else %}
              <h1 class="text-center">{{low_stock}}</h1>
            {% endif %}
          
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    {% comment %} <div class="chart-canvas" style='width:500px; height:600px;'> {% endcomment %}
    <div class="row">
      <div class="col-xl6 col-md-6 col-sm-12">
          <canvas id="merchant_dashboard_chart" width='100%' height="100%"></canvas>
      </div>
      <div class="col-xl6 col-md-6 col-sm-12">
          <canvas id="merchant_bar_plot" width='100%' height="100%"></canvas>
      </div>
    </div>
    {% comment %} </div> {% endcomment %}
  </div>

