
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#navid{
    display: flex;
    justify-content: space-around;
}
/* body{
    background-color: red;
} */

.register:hover, .login:hover{
    display: inline-block;
    background-color: #727174;
    transition: all 2s;
}

.cart:hover, .search:hover, .love:hover,.first:hover, .second:hover{
    background-color: #727174;
    width: 32px;
    height: 32px;
    transition: all 1s;
    text-shadow: 1px 1px gray;
    font-size: 15px;
}
.search1{
    display: flex;
    align-items: center;
    
}
.carousel-indicators li{
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.text1{
    color: white;
    text-decoration: none;
    list-style: none;
    display: inline-flex;
}
.text1:hover{
    color: red;
    text-decoration: none;
    
}
a, a:hover{
    text-decoration: none;
    font-family: Yatra one;
}

/* #indicator1{
    border-radius: 50%;
    height: 10px;
    width: 10px;
} */

